.centerMe
{
   text-align: center;
}
.largeTxt
{
   font-size: 25px;
}
b
{
    font-weight: 500;
}
.centerImg
{
    display: flex;
    justify-content: center;
}
.largerText
{
    font-size: 65px;
}
p, div 
{
    font-family: 'Inter', sans-serif;
}
.header
{
    font-weight: 1000;
}
